table td{

	   border: 1px solid black;
	   padding: 5px;

}

table th{
	border: 3px solid red;
	padding: 5px;
}

h1 {
	text-align: center;
	color: orange;
	font-size: 50px;
	font-family:'Lobster';
	padding-bottom: 30px;
	padding-left: 100px


}

body {
	padding-left: 15px;
}

table {
	text-align: center;
}
